.wdei-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.wdei-popup {
    background-color: #fff;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    position
}